/* Homepage CSS */

/* Space and stars background image found here:
  http://www.script-tutorials.com/demos/360/images/stars.png
*/

html {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

.allCharacters h1 {
  color: yellow;
  font-weight: bold;
  font-size: 3em;
  font-family: "Poppins", "PT+Sans", "Alegreya+Sans", sans-serif;
  margin-bottom: 0;
  margin-left: 4vw;
}

.charactersContainer {
  width: 95%;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.characterCard {
  width: 17vw;
  height: 32vh;
  margin: 2vh auto 0 auto;
  background-color: #e7dfdd;
  text-align: center;
  border-radius: 10px;
  color: #a239ca;
}

.characterImg {
  padding-top: 2vh;
}

.characterCard img {
  border-radius: 100%;
}

.characterCard h3 {
  font-size: 1.5em;
  margin-bottom: 0.5vh;
}

.characterCard:hover {
  background-color: #a239ca;
  color: #fff !important;
}

/* Forward and Back buttons */

.backBtn {
  color: white;
  margin: auto 1vw;
  padding: 25vh 0.5vw;
}

.forwardBtn {
  color: white;
  margin: auto 1vw;
  padding: 25vh 0.5vw;
}

div.backBtn:hover,
div.forwardBtn:hover {
  color: #ff3e43;
}

.movementContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
