/* Homepage CSS */

/* Space and stars background image found here:
  http://www.script-tutorials.com/demos/360/images/stars.png
*/

html {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}

/* .homepageContainer {
  margin: 2vh 0;
} */

.charactersContainer {
  width: 95%;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.characterCard {
  width: 17vw;
  height: 30vh;
  margin: 2vh auto;
  background-color: grey;
  text-align: center;
}

.characterCard:hover {
  background-color: purple;
}

.backBtn {
  color: white;
  margin: auto 1vw;
  padding: 0.5vw;
}

.forwardBtn {
  color: white;
  margin: auto 1vw;
  padding: 0.5vw;
}

div.forwardBtn:hover,
div.backBtn:hover {
  color: #ff3e43;
}

.movementContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
