/* Navbar CSS */

.nav {
  /* position: fixed; */
  top: 0;
  display: flex;
  height: 7vh;
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
  font-family: "Varela Round", "Comfortaa", sans-serif;
  z-index: 4;
}

.navLogo {
  height: 7vh;
  margin: 0;
}

.links {
  margin-left: auto;
  margin-right: 1vw;
  width: 12vw;
}

.navLink {
  display: inline-block;
  width: 10vw;
  text-align: center;
  font-size: 1.5em;
  color: #e7dfdd;
  padding: 1vh;
  text-decoration: none;
}

.navLink:hover {
  background-color: #ff3e43;
}
