/* CSS for PlanetShow page */

.planetShowPage {
  width: 95vw;
  margin: auto;
  color: #000;
  font-family: "Poppins", "PT+Sans", "Alegreya+Sans", sans-serif;
  clear: both;
}

.planetShowPageMain {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  display: flex;
  margin: 5vh 0 2vw 0;
  padding: 1vh;
}

.planetShowImg {
  padding: 2vh;
  width: 17%;
  margin-top: auto;
  margin-bottom: auto;
}

.displayBlock {
  display: block;
  width: 33%;
}

.planetShowName {
  font-size: 1.5em;
}

.planetShowName h1 {
  margin-top: 2vh;
}

.planetShowDetails {
}

.planetShowPageRelatedInfo {
  display: flex;
}

.planetResidents {
  width: 95vw;
  padding: 2vh;
  background: rgba(255, 255, 255, 0.5);
  /* width: 44vw; */
  border: 1px solid #ccc;
}

h3 {
  margin: 0;
}
