/* CSS for PlanetShow page */

.vehicleShowPage {
  width: 95vw;
  margin: auto;
  color: #000;
}

.vehicleShowPageMain {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  display: flex;
  margin: 5vh 0 2vw 0;
  padding: 1vh;
}

.vehicleShowImg {
  padding: 2vh;
}

.displayBlock {
  display: block;
}

.vehicleShowName {
  font-size: 1.5em;
}

.vehicleShowName h1 {
  margin-top: 2vh;
}

.vehicleShowDetails {
  margin-bottom: 2vh;
}

.vehicleShowPageRelatedInfo {
  display: flex;
}

.vehiclePilots {
  width: 95vw;
  padding: 2vh;
  background: rgba(255, 255, 255, 0.5);
  /* width: 44vw; */
  border: 1px solid #ccc;
}

h3 {
  margin: 0;
}
