/* Homepage CSS (generalized) */

/* movementContainer holds the forward and back btns and the character, planet
  or vehicle cards container */

.movementContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
